<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="codesomnia.CapidemaBarcodes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="CapidemaBarcodes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <codesomnia.CapidemaBarcodes.Properties.Settings>
            <setting name="BarWidth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="BarHeight" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="CodeMarginLR" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CodeMarginTB" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PageMarginLR" serializeAs="String">
                <value>37.7</value>
            </setting>
            <setting name="PageMarginTB" serializeAs="String">
                <value>37.7</value>
            </setting>
            <setting name="ProductCodeSize" serializeAs="String">
                <value>18</value>
            </setting>
        </codesomnia.CapidemaBarcodes.Properties.Settings>
        <CapidemaBarcodes.Properties.Settings>
            <setting name="BarWidth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="BarHeight" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="CodeMarginLR" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CodeMarginTB" serializeAs="String">
                <value>5</value>
            </setting>
        </CapidemaBarcodes.Properties.Settings>
    </userSettings>
</configuration>
